/* font-family: "BrutalType-Regular"; */
@font-face { font-family: "BrutalType"; src: url("../fonts/BrutalType-Regular/BrutalType-Regular.eot"); src: url("../fonts/BrutalType-Regular/BrutalType-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BrutalType-Regular/BrutalType-Regular.woff") format("woff"), url("../fonts/BrutalType-Regular/BrutalType-Regular.ttf") format("truetype"); font-style: normal; font-weight: normal; }


