/*page_case*/
.page_usl {padding-bottom: 60px;
    &-cont {margin-top: 112px;}
    &-ttl { font-size: 64px; line-height: 1; } 
    &-img {margin-top: 120px;}
    &-sub { font-size: 30px; line-height: 40px; margin-top: 108px; 
        span { color: #69C9FF; }
    }
    &-txt-gray { line-height: 32px; font-size: 20px; color: #979797; margin-top: 48px; } 
    &-txt { line-height: 32px; font-size: 20px; color: #000; margin-top: 32px; }
    &-bl { width: 213px; height: 122px; text-align: center; background: url(../img/wreath2.svg) no-repeat; background-size: contain; padding-top: 20px; display: inline-block; margin-right: 20px; 
        &-num { font-size: 30px; } 
        &-txt { color: #00000080; }
    }
    &-scnd { margin-top: 120px; 
        &-ttl { font-size: 30px; } 
        &-txt { margin-top: 33px; line-height: 32px; font-size: 20px; color: #979797; }
        &-btn { display: block; color: #000; border-radius: 20px; max-width: 140px; text-align: center; margin-top: 33px; width: 100%; padding: 8px 10px; background: linear-gradient(to top right, #69FFAE, #69C9FF, #9069FF); position: relative; opacity: 1; @include trans(0.3s);
            &:before { content: ''; width: calc(100% - 2px); height: calc(100% - 2px); top: 1px; left: 1px; background: #fff; display: block; position: absolute; border-radius: 20px;z-index: 1; }
            span {position: relative; z-index: 2;}
            &:hover, &:focus {color: #000;text-decoration: none;opacity: 0.5; @include trans(0.3s);}
        }        
    } 
    &-pack{
        &-ttl {line-height: 32px; font-size: 20px;} 
        &-bl { border: 1px solid #E3E3E3; border-radius: 4px; padding: 45px 31px; margin-top: 56px; position: relative;
            &-top { font-size: 14px; opacity: 0.3; } 
            &-ttl { margin-top: 9px; font-size: 30px;display: inline-block; position: relative;
                &:before{content: ''; position: absolute; width: 75px; height: 61px; background: url(../img/pack-bg1.png); background-size: contain; z-index: -1; right: -34px;}
            } 
            &-txt { line-height: 32px; font-size: 20px; color: #979797; padding-right: 59px; margin-top: 27px; } 
            &-btm {margin-top: 32px;overflow: hidden;}
            &-btn { display: block; color: #000; border-radius: 20px; max-width: 140px; text-align: center; float: left; width: 100%; padding: 8px 10px; background: linear-gradient(to top right, #69FFAE, #69C9FF, #9069FF); position: relative; opacity: 1; @include trans(0.3s);
                &:before { content: ''; width: calc(100% - 2px); height: calc(100% - 2px); top: 1px; left: 1px; background: #fff; display: block; position: absolute; border-radius: 20px;z-index: 1; }
                span {position: relative; z-index: 2;}
                &:hover, &:focus {color: #000;text-decoration: none;opacity: 0.5; @include trans(0.3s);}
            }               
            &-price { font-size: 16px; opacity: 0.5; float: right;margin-top: 7px; }
            
            &.middle{margin-top: 26px; padding: 53px 31px;
                &:before{content: '';display: block;width: 32px;height: 43px;position: absolute;top: 0;right: 18px;background: url('../img/pack-star.png')no-repeat;}
                .page_usl-pack-bl-ttl { font-size: 40px; 
                    &:before{ width: 96px; height: 73px; background: url(../img/pack-bg2.png); background-size: contain; }
                } 
                .page_usl-pack-bl-txt { margin-top: 38px; } 
            }
        }
    }
    &-form {
        &-ttl { font-size: 30px; text-align: center; } 
        &-txt { font-size: 20px; text-align: center; line-height: 32px; opacity: 0.5; }  
        &-row { margin-top: 32px; background: #FFFFFF; box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1); border-radius: 12px; padding: 24px; 
            input[type="text"] { background: #F6F6F6; border-radius: 4px; border: 0; padding: 12px 15px; width: 100%; font-size: 14px; 
                &.name {background: url(../img/form-name.png)no-repeat 90% 50%, #F6F6F6;}
                &.phn {background: url(../img/form-phn.png)no-repeat 90% 50%, #F6F6F6;}
                &.ml {background: url(../img/form-ml.png)no-repeat 90% 50%, #F6F6F6;}
            }
            button {display: block; color: #000; text-align: center; width: 100%; border: 0; cursor: pointer; border-radius: 4px; padding: 11px 10px; background: linear-gradient(to top right, #69FFAE, #69C9FF, #9069FF); position: relative; opacity: 1; @include trans(0.3s);
                &:before { content: ''; width: calc(100% - 2px); height: calc(100% - 2px); top: 1px; left: 1px; background: #fff; display: block; position: absolute; border-radius: 4px;z-index: 1; }
                span {position: relative; z-index: 2;}
                &:hover, &:focus {color: #000;text-decoration: none;opacity: 0.5; @include trans(0.3s);}
                &:after { content: ''; width: 8px; height: 8px; background: linear-gradient(65.75deg, #69FFAE -14.45%, #69C9FF 51.99%, #9069FF 115.6%); display: block; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); border-radius: 50%; z-index: 3;}
            }
        } 
    }
}
/*page_case*/

@media(max-width: 991px){
    .page_usl{
        &-ttl { font-size: 40px; text-align: center; } 
        &-form {
            &-row input[type="text"] { border: 1px solid #E3E3E3; background-color: #fff; margin-bottom: 8px;
                &.name {background: url(../img/form-name.png)no-repeat 90% 50%, #fff;}
                &.phn {background: url(../img/form-phn.png)no-repeat 90% 50%, #fff;}
                &.ml {background: url(../img/form-ml.png)no-repeat 90% 50%, #fff;}
             } 
            &-ttl { text-align: center; } 
            &-txt { text-align: center; font-size: 14px; } .page_case-form-row { margin: 0 auto; max-width: 95%; }
        }
        &-cont { margin-top: 53px; text-align: center; } 
        &-sub { margin-top: 53px; text-align: center; font-size: 18px; line-height: 28px;}  
        &-txt { line-height: 24px; font-size: 14px; margin-top: 32px; text-align: center; 
            &-gray { line-height: 24px; font-size: 14px; margin-top: 32px; text-align: center; }
        } 
        &-bl { width: 140px; height: 82px; padding-top: 12px; margin: 0 14px 25px; 
            &-num { font-size: 18px; } 
            &-txt { font-size: 12px; } 
        }
        &-img { margin-top: 40px; text-align: center; } 
        &-scnd { margin-top: 40px; 
            &-btn { float: none; margin: 34px auto 0; }
        } 
        &-pack-bl {
            &-ttl:before { right: -51px; }
            &-txt { max-width: 222px; padding: 0; margin: 27px auto 0; }
        }
    }
}