/*page_case*/
.page_vac {padding-bottom: 60px;
    &-cont {margin-top: 112px;}
    &-ttl { font-size: 64px; line-height: 1; } 
    &-vacs {margin-top: 137px; display: none;
        &.active {display: block;}
    }
    &-bl { margin-bottom: 125px;
        &-mob-num {display: none;}
        &-num { position: absolute; left: -5vw; font-size: 40px; color: #000000; opacity: 0.1; top: 0; } 
        &-top { font-size: 14px; opacity: 0.3; } 
        &-ttl { margin-top: 17px; font-size: 40px; position: relative; } 
        &-btn { margin-top: 30px; display: block; max-width: 259px; border: 1px solid #9797974d; box-sizing: border-box; border-radius: 32px; background: none; font-size: 16px; padding: 15px 11px; padding-left: 76px; line-height: 1; opacity: 1; position: relative; cursor: pointer; color: #000; @include trans(0.3s);
            &:hover, &:focus {opacity: 0.3; box-shadow: none; outline: 0; text-decoration: none; color: #000; @include trans(0.3s);}
            &:before {content: '';background: url('../img/arr-nxt.png')no-repeat 50% 50%;width: 48px;height: 48px;border-radius: 50%;position: absolute;top: -1px;left: -1px;display: block; border: 1px solid #9797974d;}
        }        
        &-txt { line-height: 32px; font-size: 20px; color: #979797; margin-top: 40px; } 
        &-list { line-height: 32px; font-size: 20px; margin-top: 40px; 
            ul { list-style: none; margin-top: 27px; 
                li { line-height: 32px; font-size: 16px; position: relative; padding-left: 21px;
                    &:before {content: '';width: 9px; height: 9px; display: block; position: absolute; top: 50%;transform: translateY(-50%);left: 0;background: url('../img/vac-list.svg')no-repeat;background-size: contain;}
                }
            }         
        } 
    } 
    &-menu {
        ul { list-style: none; padding: 0; position: relative; 
            li {} 
            &:before { content: ''; display: block; width: 1px; height: 100%; background: #000; position: absolute; left: 134px; opacity: 0.1; } 
        } 
        &-pnt { color: #000; font-size: 30px; display: block; padding: 15px 0;
            &:hover, &:focus {text-decoration: none;color: #000;}
            &-pers { width: 130px; display: inline-block; text-align: right; padding-right: 20px; }
            &-txt { display: inline-block; padding-left: 20px; max-width: 260px; width: 100%; opacity: 0.3; }
            &.active{
                .page_vac-menu-pnt-txt { opacity: 1; }
            }
        }
    }
}
/*page_case*/

@media(max-width: 991px){
    .page_vac{
        &-ttl { font-size: 40px; text-align: center; } 
        &-menu {display: none;}      
        &-vacs { margin-top: 51px; }
        &-bl {
            &-mob-num {line-height: 32px;font-size: 20px;text-align: center;display: block;}
            &-num { display: none; } 
            &-top { text-align: center; font-size: 12px; } 
            &-ttl { line-height: 32px; font-size: 20px; text-align: center; color: #000000; } 
            &-btn { margin: 30px auto 0; } 
            &-txt { line-height: 24px; font-size: 14px; text-align: center; } 
            &-list{
                &-ttl { line-height: 32px; font-size: 20px; text-align: center; } 
                ul { padding: 0; 
                    li { text-align: center; padding: 0; 
                        &:before { display: none; }
                    }
                } 
            }
        }
    }
}