@charset "utf-8";

@mixin shadow($shadow...) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}


@mixin trans ($trans) {
	transition:$trans;
	-webkit-transition:$trans;
	-moz-transition:$trans;
	-o-transition:$trans;
	-ms-transition:$trans;
}

@mixin border-radius ($border-radius) {
	border-radius:$border-radius;
	-webkit-border-radius:$border-radius;
	-moz-border-radius:$border-radius;
	-o-border-radius:$border-radius;
	-ms-border-radius:$border-radius;
}

body {font-family: 'BrutalType', sans-serif; font-size: 16px;font-weight: 400;background: #fff;color:#000; min-height: 100vh;}

img { max-width: 100%; height:auto; }

@media(min-width: 1200px){
    /*.container { max-width: 68vw;}*/
    .main-page .container { max-width: 85vw;}
}
.container-fluid {position: relative;}

/*header*/
header {padding: 58px 43px; padding: 3vw 2.3vw; position: fixed; width: 100%; top: 0; left: 0; z-index: 3;}
.h {
    &-logo {font-size: 30px; opacity: 0.9; color: #fff; font-weight: 700;
        &:hover, &:focus {color: #fff;text-decoration: none;}
    }
    &-menu {
        ul { list-style: none; margin: 0; padding: 0; text-align: center; 
            li { display: inline-block; margin: 0 28px; vertical-align: top; 
                &:first-child { margin-left: 0; } 
                &:last-child { margin-right: 0; } 
                a { color: #fff; opacity: 0.3; font-size: 20px; font-size: 1vw; 
                    &:hover, &:focus {opacity: 1; text-decoration: none;}
                } 
            }  
        }      
    } 
    &-auth { background: url(../img/h-auth.svg) no-repeat 50% 50%; background-size: cover; border: none; width: 20px; height: 20px; padding: 0; display: block; float: left; margin-top: 6px; margin-right: 37px; opacity: 0.3; cursor: pointer;
        &:hover, &:focus {opacity: 1;}
    } 
    &-btn { border: none; width: 32px; height: 32px; padding: 0; display: block; float: left; background: none; cursor: pointer; opacity: 0.3;
        span { display: block; background: #fff; height: 1px; width: 100%; margin: 7px 0; }
        &:hover, &:focus {opacity: 1;box-shadow: none; outline: 0;}
    } 
    &-order { display: block; color: #fff; border-radius: 20px; max-width: 140px; text-align: center; float: right; width: 100%; padding: 7px 10px; background: linear-gradient(to top right, #69FFAE, #69C9FF, #9069FF); position: relative; opacity: 1; @include trans(0.3s);
        &:before { content: ''; width: calc(100% - 2px); height: calc(100% - 2px); top: 1px; left: 1px; background: #000; display: block; position: absolute; border-radius: 20px;z-index: 1; }
        span {position: relative; z-index: 2;}
        &:hover, &:focus {color: #fff;text-decoration: none;opacity: 0.5; @include trans(0.3s);}
    }
    &-mob {display: none;}
}
body:not(.body-main) {
    header {position: static;}
    .h {
        &-logo {color: #000;}
        &-menu {
            ul {
                li {
                    a {color: #000;}
                }
            }
        }
        &-order { color: #000;
            &:before { background: #fff; }
        }
        &-auth { background: url(../img/h-auth-black.svg) no-repeat 50% 50%; } 
        &-btn {
            span { background: #000; }
        } 
    }
}
/*header*/
@media(max-width: 1600px) and (min-width: 1200px){
   
}


@media(max-width: 991px) {
    header{padding: 22px 7px; z-index: 200; 
       
        .h {
            &-pc {display: none;}
            &-mob {display: block;
                &-logo {font-size: 24px;font-weight: 700;color: #fff; text-align: center; display: block;
                    &:hover, &:focus {color: #fff;text-decoration: none;}
                }
                &-btn { border: none; width: 32px; height: 32px; padding: 0; display: block; float: left; background: none; 
                    span { display: block; background: #fff; height: 1px; width: 100%; margin: 7px 0; }
                } 
                &-auth { background: url(../img/h-auth.svg) no-repeat 50% 50%; background-size: cover; border: none; width: 20px; height: 20px; padding: 0; display: block; float: right; margin-top: 6px; margin-right: 37px;} 
            }
            &-cat { font-size: 20px; margin-top: 66px; }
        }    
    }
    body:not(.body-main) {
        .h-mob {
            &-logo {color: #000;}
            &-btn {
                span {background: #000;}
            }
            &-auth { background: url(../img/h-auth-black.svg) no-repeat 50% 50%; }
        }
    }
}

@import "_modal_auth";
@import "_index";
@import "_fonts";
@import "_case";
@import "_order";
@import "_usl";
@import "_vac";
@import "_about";
@import "_partn";
 
.screen-btm { padding: 58px 43px; position: absolute; width: 100%; bottom: 0; left: 0; z-index: 2; 
    &-down { padding-left: 20px; opacity: 0.3; background: url('../img/arr-dwn.svg')no-repeat 0% 50%; background-size: 12px 6px; display: block;  color: #fff;
        &:hover, &:focus {color: #fff; text-decoration: none;}
    }
    &-lang { display: inline-block; padding-right: 10px; background: url('../img/arr-dwn.svg')no-repeat 100% 9px; background-size: 4px 8px; cursor: pointer;
        &-cont { position: absolute; top: 24px; left: 15px; }
        span, a { display: block; color: #fff; opacity: 0.3; }
        &.hidden {
            a {display: none;}
        }
    } 
}
.fix-btns { position: fixed; bottom: 68px; right: 66px; z-index: 3; display: block; 
    a { width: 24px; height: 12px; display: block; 
        &.top { background: url('../img/arr-side.svg')no-repeat 50% 50%; transform: rotate(180deg); }
        &.bottom { margin-top: 74px;  background: url('../img/arr-side.svg')no-repeat 50% 50%;}        
    }
} 
@media(max-width: 1199px) and (min-width: 992px){
    .screen-btm {display: none;} 
    .fix-btns { display: none; } 
}
@media(max-width: 991px) {
    .screen-btm {display: none;} 
    .fix-btns { display: none; } 
}

#p_prldr{position: fixed; left: 0; top: 0; right:0; bottom:0; background: rgba(0,0,0,1); z-index: 30;}
 
.contpre small{font-size:25px;}
 
.contpre{width: 100%; max-width: 526px; height: 58px; position: absolute; left: 50%; top: 50%; color: #fff; text-align: center; transform: translate(-50%, -50%);}

@media(max-width: 991px){
    .contpre{   max-width: 280px;}
}

/*footer*/
footer { padding: 3vw 2.3vw; }
.f {
    &-logo { font-size: 30px; opacity: 0.9; color: #fff; font-weight: 700; 
        &:hover, &:focus { color: #fff; text-decoration: none; }
    } 
     
    &-menu { margin-top: 10px; 
        ul { list-style: none; padding: 0; margin: 0; text-align: center; 
            li { display: inline-block; margin: 0 15px; vertical-align: middle; 
                &:first-child { margin-left: 0; }
                &:last-child { margin-right: 0; }
                a { color: #ffffff80; } 
            }
        }  
    } 

    &-top { padding-bottom: 53px; border-bottom: 1px solid #fff3; margin-bottom: 53px; } 
    &-txt1 { color: #ffffff80; text-align: left; } 
    &-txt2 { text-align: center; 
        a { color: #ffffff80; 
            &:hover { text-decoration: none; color: #fff; }
        } 
        span { display: inline-block; width: 3px; height: 3px; background: #fff; opacity: 0.2; padding: 0; margin: 0 10px; margin-bottom: 3px; }
    }   
    &-txt3 { color: #ffffff80; }
    &-soc { text-align: center;
        a { display: inline-block; width: 40px; height: 40px; border-radius: 50%; overflow: hidden; opacity: 0.3; 
            &.one {background: url('../img/works-soc1.svg')no-repeat;background-size: contain;margin-bottom: 20px;}
            &.two {background: url('../img/works-soc2.svg')no-repeat;background-size: contain;margin-bottom: 20px;} 
            &.three {background: url('../img/cont-soc3.svg')no-repeat;background-size: contain;margin-bottom: 20px;}
            &.four {background: url('../img/cont-soc4.svg')no-repeat;background-size: contain;margin-bottom: 20px;} 
            &:hover, &:focus {opacity: 1;}
        }
    }       
}
body:not(.body-main) {
    footer {background: #000;}
}
/*footer*/
@media(max-width: 991px) and (min-width: 768px){
    
}
@media(max-width: 991px) {
    footer {}
    .f{
        &-top { padding: 0; margin: 0; border-bottom: 0; } 
        &-logo { display: block; text-align: center; margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px solid #fff3; }  
        &-menu { margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px solid #fff3; 
            ul li { display: block; margin: 0; font-size: 20px; margin-bottom: 15px; }
        } 
        &-soc { margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px solid #fff3; 
            a { margin-bottom: 0!important; } 
        } 
        &-txt1 { color: #ffffff33; text-align: center; margin-bottom: 10px; } 
        &-txt3 { color: #ffffff33; text-align: center; } 
        &-txt2 { margin-bottom: 30px; }
    }
}


